@font-face {
  font-family: MoneyHeist;
  src: url(../font/MoneyHeist.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: MoneyHeist;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
}

.active {
  transform: translateY(-35%);
  filter: drop-shadow(0 0 0.75rem white) saturate(120%) !important;
}

.wrapper {
  height: 100%;
  width: 100%;
}
.wrapper #difficulty {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper #difficulty h1 {
  color: white;
  font-size: 10vmin;
  margin: -10vmin 0 15vmin 0;
  letter-spacing: 0.5vmin;
  text-align: center;
}
.wrapper #difficulty button {
  height: 8vmin;
  width: 20vmin;
  font-size: 4vmin;
  border-radius: 5vmin;
  background: white;
  color: rgb(103, 9, 29);
  margin-top: 5vh;
  letter-spacing: 0.5vmin;
  transition: 200ms ease-in-out;
  cursor: pointer;
  visibility: hidden;
  border: none;
}
.wrapper #difficulty button:hover {
  background: rgb(103, 9, 29);
  color: white;
}
.wrapper #difficulty .choices {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper #difficulty .choices > div {
  padding: 5vmin;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper #difficulty .choices > div .photos {
  width: max(100px, 20vw);
  cursor: pointer;
  transition: 200ms ease-in-out;
  z-index: 2;
  filter: saturate(120%);
}
.wrapper #difficulty .choices > div #easy:hover {
  transform: translateY(-35%);
  filter: drop-shadow(0 0 0.75rem #82ADC6) saturate(120%);
}
.wrapper #difficulty .choices > div #medium:hover {
  transform: translateY(-35%);
  filter: drop-shadow(0 0 0.75rem #459200) saturate(120%);
}
.wrapper #difficulty .choices > div #hard:hover {
  transform: translateY(-35%);
  filter: drop-shadow(0 0 0.75rem #CE66A4) saturate(120%);
}
.wrapper #difficulty .choices > div h2 {
  color: white;
  position: absolute;
  bottom: 5vmin;
  font-size: min(5vmin, 4em);
  margin: 0 auto;
  z-index: 1;
  letter-spacing: 0.5vmin;
}
.wrapper .container {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url(../img/Money-Heist.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .container .title {
  height: max-content;
  width: max-content;
  padding: 2vmin 2vmin;
}
.wrapper .container .title h1 {
  color: white;
  font-size: 20vmin;
  text-align: center;
  transition: 400ms ease-in-out;
}
.wrapper .container .title .second {
  color: rgb(103, 9, 29);
}
.wrapper .container .start {
  height: 8vmin;
  width: 20vmin;
  background: rgb(103, 9, 29);
  border-radius: 5vmin;
  border: none;
  color: white;
  font-size: 4vmin;
  letter-spacing: 0.5vmin;
  position: absolute;
  transform: translateX(-100vw) translateY(-5vh);
  transition: 750ms ease-in-out;
  cursor: pointer;
}
.wrapper .container .start:hover {
  color: rgb(103, 9, 29);
  background: white;
}
.wrapper #game {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper #game canvas {
  background: rgba(255, 0, 0, 0.2);
}
.wrapper #game .info {
  color: white;
  font-size: 6vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
}
.wrapper #game .info > * {
  margin: 2vmin;
  font-size: 4vmin;
}
.wrapper #game .inner {
  display: flex;
  margin: 1vmin;
  justify-content: center;
  width: 33%;
}
.wrapper #game .inner h2 {
  display: inline;
  margin: 0.5vmin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(103, 9, 29);
  border-radius: 10px;
}

.scrollToTop {
  width: 5vmin;
  height: 5vmin;
  border-radius: 100%;
  background: rgb(103, 9, 29);
  position: fixed;
  bottom: 4vh;
  right: 3vw;
  border: none;
  color: white;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.scrollToTop > * {
  font-size: 3vmin !important;
}

.scrollToTop:hover {
  background: white;
  color: rgb(103, 9, 29);
}

.icons {
  height: 6vmin;
  width: 6vmin;
  border-radius: 50%;
  border: 5px solid rgb(103, 9, 29);
  background: rgb(103, 9, 29);
  box-shadow: inset 0 0 0.5em 0 rgb(103, 9, 29), 0 0 0.5em 0 rgb(103, 9, 29);
  position: absolute;
  left: 3vw;
  bottom: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  opacity: 0.7;
}

.icons:nth-of-type(2) {
  left: 8vw;
}

.icons:nth-of-type(3), .icons:nth-of-type(4) {
  left: 13vw;
  text-align: center;
}

#play {
  display: none;
}

#up {
  display: block;
  color: white;
  font-size: 4vmin;
  text-shadow: 0 0 0.125em hsla(0deg, 0%, 100%, 0.3), 0 0 0.45em rgb(103, 9, 29);
  position: absolute;
  top: 1vmin;
  left: 1vmin;
}

#off {
  font-size: 4vmin;
  color: white;
  text-shadow: 0 0 0.125em hsla(0deg, 0%, 100%, 0.3), 0 0 0.45em rgb(103, 9, 29);
  position: absolute;
  top: 1vmin;
  left: 1vmin;
}

.icons p {
  color: white;
  font-size: 4vmin;
  font-weight: 600;
}

.icons:hover {
  opacity: 1;
  transition: 250ms ease;
}

.swal2-title {
  color: white;
}

.pauseGame {
  visibility: hidden;
  width: 10vw;
  height: 20vh;
  position: absolute;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pauseGame .part {
  width: 4vw;
  height: 100%;
  background: white;
  box-shadow: inset 0 0 0.5em 0 white, 0 0 0.5em 0 white;
}

.backdrop {
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
